<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Home Page</title>
    <!-- link to main css -->
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <!-- background image for the page -->
    <img src="/assets/spinclass.jpg" alt="Fitness Banner" class="background-image">
    <header></header>
    <section>
        <h2>Explore Events</h2>
        <!-- navigation to view all events -->
        <a href="/users/events" class="button1">View All Events</a>
        <!-- back to home page -->
        <a href="/" class="button2">Main Home Page</a>
    </section>
</body>
</html>
