<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Home Page</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <!-- background img -->
    <img src="/assets/fitnessevent.jpg" alt="Fitness Banner" class="background-image">
    <header>
    <h1>Welcome to BookTheBurn</h1>
    </header>
    <main>
        <section>
            <!-- navigation links -->
            <h2>Your fitness Role: Organizer or Attendee</h2>
            <a href="/attendeeviews" class="button1">Attendee Home Page</a>
            <a href="/organizer" class="button2">Organizer Home Page</a>
            <a href="/login" class="button1">Login</a>
            <a href="/signup" class="button2">Sign Up</a>
        </section>
    </main>
</body>
</html>


