<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <h1>Sign Up</h1>
    </header>
    <main>
        <!-- sign up form  -->
        <form action="/signup" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit" class="button1">Sign Up</button>
        </form>
        <a href="/login" class="button2">Login</a>
        <a href="/" class="button1">Back to Main Home Page</a>
    </main>
</body>
</html>
